dist: trusty
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
env:
  matrix:
    - TF_VERSION=1.2
    - TF_VERSION=1.10
    - TF_VERSION=1.12
# command to install dependencies
install:
  - pip install numpy tensorflow==$TF_VERSION keras
  - pip install coveralls
# command to run tests
script:
  nosetests  --logging-level=WARNING --with-coverage --cover-package=t3f
after_success:
  coveralls
